/* 
Antoine Tessier - 20288121 

*/

/* Navigation bar and footer common to all pages */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  float: left;
  list-style-type: none;
  margin: 20px;
}

nav a:visited {
  color: purple;
}

nav a:hover {
  color: red;
}
footer {
  position : relative
}

footer div{
  background-color: rgb(4, 56, 147);
  height: 500px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

footer img {
  position : absolute;
  top : 0;
  left : 0;
}

footer li {
  list-style-type: none;
  margin: 15px;
  color: lightblue;
  font-size: 20px;
  align-content: center;
}

/* Accueil elements */

.accueil {
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(40, 208, 246), rgb(4, 56, 147));;
}

.img-accueil {
  margin: 20px;
  display: inline-block;
}

.img-accueil img {
  clip-path: polygon(108px 0px, 1px 98px, 37px 235px, 172px 235px, 214px 99px);
}

.header-container {
  display : flex;
  align-items: center;
  justify-content: center;
  
}

.header-accueil {
  background: linear-gradient(to bottom, #ff0000, #DC143C);
  border-radius: 15%;
  width : auto;
  height : auto;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  color : white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.citation {
  margin : 10px;
  width : 75%;
  
}

/* Biographie related elements */

.biographie {
  text-align: center;
  margin-top : 30px;
  width : auto;
  height : auto;
  color : white;
}

.biographie h3 {
  font-weight: bold;
  font-size: large;
  font-style: italic;
  padding: 15px;
}

.biographie-element {
  margin: 30px;
  padding: 10px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  justify-content: center;
  border : white solid 3px;
  color : white;
  border-radius : 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chapitre1 {
  background-color: rgb(127, 0, 0);
}

.bounty-description {
  text-align: center;
  display: inline-block;
}

.bounty-description dt{
  font-weight: bold;
}

.bounty-description dd {
  margin-bottom: 20px;
}

.chapitre1 img {
  width : 70px;
  height : 100px;
  margin : 10px;
}

.chapitre2 {
  background-color: rgb(207, 28, 0);
}

.character-list {
  margin : 20px;
  list-style-type: none;
  display : inline-block;
}

.character-list li {
  margin : 15px;
}


.chapitre3 {
  background-color: rgb(255, 2, 2)
}

/* Competance elements */

.competence {
    display: flex;
    align-content: center;
    text-align: center;
}

.cv-element {
  text-align: justify;
  margin: 30px;
  float :left;
  width: 20%;
}

.cv-element h2::first-letter {
  font-size: xx-large;
}

.cv-element dt {
  font-weight: bold;
}

.cv-element dd {
  margin: 5px;
}

.cv-element li {
    margin: 5px
}

/* Galerie related */




